.App {
  display: flex;
  margin-left: 10px;
  width: 100vh;
  height: 100vh;
}

.thalles {
  width: 80px;
  text-align: center;
  font-size: 20px;
  background-color: white;
  border-radius: 2px;
}
.point {
  width: 4px;
  height: 4px;
  background-color: rgba(0, 0, 255, 0.85);
  border-radius: 50%;
}